<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bornfly.myrevive" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    </activity>
        <activity android:name=".Resetpwd"/>
        <activity android:name=".Register"/>
        <activity android:name=".Weekview"/>
        <activity android:name="com.tops.notes.NotesActivity"/>
        <activity
            android:name="com.tops.notes.AtyEditNote"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.tops.notes.AtyPhotoViewer"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.tops.notes.AtyVideoViewer"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity android:name=".NoteActivity"/>
        <activity android:name=".noteEdit"/>
        <activity android:name=".PlanTimeSet"/>
        <activity android:name=".PlanActivity"/>

    </application>

</manifest>